body{
  font-family: 'Playfair Display', serif;
  margin-left:40px;
  text-align: left;
  font-size: 16px;
  line-height: 20px;
  background-color: rgba(188, 213, 142, 0.58);
  color:#362a21;
}


h2{
  margin-left: 10vw;
  font-size: 36px;
  letter-spacing: 15px;
}

h6{
    margin-left: 10vw;
    font-size: 18px;
    letter-spacing: 10px;
}
.container{

}
.grey-gradient{
  border-radius: 50%;
  box-shadow: 0px 0px 10px grey;
  position:absolute;
}
#text-center-1{
  margin-top: calc(10% + 15px);
  position:absolute;
  text-transform: uppercase;
}
#text-center-2{
  margin-top: calc(35% + 20px);
  position:absolute;
  left:10%;
  text-transform: uppercase;
}
#circle-one{
  width: 300px;
  height:300px;
  left:3%;
  background-image: linear-gradient(to bottom right,grey,rgba(103, 103, 103, 0.36));
}
#circle-two{
  background-color: rgba(255, 255, 255, 0.61);
  width:150px;
  height: 150px;
  left:25%;
  top:65%;
}
#circle-three{
  background-image: linear-gradient(to bottom right,grey,rgba(103, 103, 103, 0.36));
  width:400px;
  height: 400px;
  left:10%;
  top:120%;
  text-align: center;
  z-index: -999;
}
#goback{
width:200px;
height:200px;
left:70%;
top:80%;
background-image: linear-gradient(to bottom right,grey,rgba(103, 103, 103, 0.36));

}
#backtext
{
  position: absolute;
  left:35%;
  top:40%;
  font-size: 32px;
}
